.home {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 90vh;
}

.home__info {
    position: absolute;
    top: 50%;
    left: 6%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-family: sans-serif;
}

.home__info > h1 {
    font-size:4.5vw;
    color: #9a9595;
    text-align: center;
    margin: 0;
}

.home__info > button {
    text-align: center;
    width: 25%;
    height: 38px;
    font-size: 17px;
    margin-top: 20px;
    color: #f8f8f8;
    background: #0e9c89;
    border-radius: 4px;
    border: 1px solid;
    border-color: #15942a #9c7e31 #846a29;
}

.home__overlay {
    background: #000000c2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}