.login {
    height: 100vh;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
}

.login__container {
    width: 270px;
    padding: 25px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__container > h1  {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h4  {
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: start;
}

.login__error {
    font-size: 12px;
    text-align: start;
    color: red

}

.login__container > form > input  {
    height: 30px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    padding-left: 5px;
}

.login__button {
    color: #f8f8f8;
    background: #0e9c89;
    border-radius: 4px;
    width: 50%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #15942a #9c7e31 #846a29;
}


